<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="icon" type="image/png" href="lpu_logo.png"/>
</head>
<body>
    <!-- header code using bootstap-->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-0 border-bottom" style="background-color: rgb(156,44,44);">
        <a href="dashboard_faculty.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="lpu_logo_2.png" style="width: 100px; height: 100px;" alt="">
          <span class="fs-1" style="color: white; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Center for Sports Development <p style="font-size: 15px; font-weight: 300;">LYCEUM OF THE PHILIPPINES UNIVERSITY - CAVITE</p></span>
        </a>
    </header>
    <!-- end of header code -->
    <!-- class sched-->
      <div class="attendanceRecords">
        <div class="attendanceRecords-title">My Schedule</div>
        <hr width="100%">
        <div class="container text-center text-white p2 bg-light bg-gradient text-uppercase">
          <table class="table table-responsive table-bordered border-dark table-hover text-center text-capitalize">
            <tr class="table-dark table-active text-uppercase text-white">
              <th>Day</th>
              <th>Course / Subject</th>
              <th>Time</th>
              <th>Date</th>
            </tr>
          </table>
        </div>

      </div>
      
    </div>
    <!-- end of class sched-->
    <!-- navbar code bootstrap-->
    <div id="main_div" class="d-flex flex-column bg-light vh-100 " style="width:100px" >
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center align-items-center">
            <li class="nav-item align-items-center"> <a href="#" class="nav-link active py-3 border-bottom "> <i class="fa fa-home"></i> <small>Dashboard</small> </a> </li>
            <li> <a href="my_classes.html" class="nav-link py-3 border-bottom"> <i class="fa fa-dashboard"></i> <small>My Classes</small> </a> </li>
            <li> <a href="att_rec.html" class="nav-link py-3 border-bottom"> <i class="fa fa-first-order"></i> <small>Attendance Records</small> </a> </li>
        </ul>
        <div class="dropdown border-top"> <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> <img src="User_pic.png" alt="mdo" width="24" height="24" class="rounded-circle"> </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="Settings.html">Settings</a></li>
                <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
    <!-- end of nav bar-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

